{% extends 'base.html' %}



{% block title %} Start a New Topic {% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
  <li class="breadcrumb-item active">New Topic</li>
{% endblock %}

{% block content %}
  <form method="post" novalidate> <!-- Stop browser default validaltion -->
    {% csrf_token %}
    {% include 'includes/form.html' %} <!-- include HTML templates in another template. useful to reuse HTML components in a project -->
    <button type="submit" class="btn btn-success">Post</button>
  </form>
{% endblock %}